<%= form_for(@anfrage) do |f| %>
  <% if @anfrage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anfrage.errors.count, "error") %> prohibited this anfrage from being saved:</h2>

      <ul>
      <% @anfrage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titel %><br>
    <%= f.text_field :titel %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div>
    <input name="anfrage[empfaenger_id]" type="hidden" value="<%= @event.user_id %>" id="anfrage_empfaenger_id">
    <input name="anfrage[absender_id]" type="hidden" value="<%= current_user.id %>" id="anfrage_absender_id">
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
