<div class="page-header">
  <h1>
    Anfrage für

      <small>
        <%= @event[0].name %>
      </small>

    <small>
      <small>
        von <%= @sender[0].username %>
      </small>
    </small>
  </h1>
</div>

<% if @antworten.size != 0 %>
    <h3>Nachrichtenverlauf</h3>
    <% @antworten.each do |antworten| %>
      <p>
        <%= antworten.text %>
      </p>
        <hr>
    <% end %>
<% end %>


<p class="lead">
  <%= @anfrage.titel %>
</p>

<p>
  <%= @anfrage.text %>
</p>

<% if @anfrage.absender_id != current_user.id %>
  <a href="../answers/new/<%= @anfrage.id %>">Antworten</a>
<% end %>
<%= link_to 'Zurück', :back %>