<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>
    Anfrage für

      <small>
        <%= @event[0].name %>
      </small>

    <small>
      <small>
        von <%= @sender[0].email %>
      </small>
    </small>
  </h1>
</div>




<p class="lead">
  <%= @anfrage.titel %>
</p>

<p >
  <%= @anfrage.text %>
</p>
