<div class="page-header">
  <h1>
    Anfrage für

      <small>
        <%= @event[0].name %>
      </small>

    <small>
      <small>
        von <%= @sender[0].username %>
      </small>
    </small>
  </h1>
</div>

<% if @antworten.size != 0 %>

    <% @antworten.each do |antworten| %>
        <% @absender = User.find(antworten.sender_id) %>
      <%= @absender.username %> schrieb:
      <p>
        <%= simple_format(antworten.text) %>
      </p>
        <hr>
    <% end %>
<% end %>

<%= @sender[0].username  %> schrieb:
<p class="lead">
  <%= @anfrage.titel %>
</p>

<p>
  <%= simple_format(@anfrage.text) %>
</p>
<% if @antworten.size != 0 && @anfrage.absender_id == current_user.id %>
    <a href="../answers/new/<%= @anfrage.id %>">Antworten</a>
<% end %>

<% if @anfrage.absender_id != current_user.id %>
  <a href="../answers/new/<%= @anfrage.id %>">Antworten</a>
<% end %>
<%= link_to 'Zurück', :back %>