<div class="page-header">

  <h1>Dein Profil <small><%= @user.username %></small></h1>
</div>

<% if @user.typ == 0 || current_user.has_role?(:admin) %>
    <ul>
      <li><a href="edit">Email/Passwort ändern</a></li>
    </ul>
    <div>
      <h2>Deine Musik Verwalten</h2>
      <ul>
        <li><%= link_to 'Neue Musik hinzufügen', new_music_path %></li>
        <li><%= link_to 'Deine Musik anzeigen', "../musics/show/#{current_user.id}" %></li>
      </ul>
    </div>
<% end %>
<% if @user.typ == 1 || current_user.has_role?(:admin) %>
    <div>
      <h2>Deine Events Verwalten</h2>
      <ul>
        <li><%= link_to 'Neues Event hinzufügen', new_event_path %></li>
        <li><%= link_to 'Deine Events anzeigen', "../events/show/#{current_user.id}" %></li>
      </ul>
      
    </div>
<% end %>

<h2>Deine Anfragen</h2>
<h4>Bekommen</h4>
<% if @anfrageBekommen.size == 0 %>
  Schade, du hast noch keine Anfragen erhalten :(
<% end %>
<p>
  <% @anfrageBekommen.each do |anfrage| %>
    <ul>
      <li>
        <%= link_to anfrage.titel, anfrage %>
        <% if anfrage.gelesen == nil %>
            <span class="label label-info">Neu</span>
        <% end %>
      </li>
    </ul>

<% end %>
</p>
<h4>Geschrieben</h4>
<% if @anfrageGeschrieben.size == 0 %>
    Du hast noch keine Anfragen geschrieben, trau dich und kontaktiere jemanden ;)
<% end %>
<p>
  <% @anfrageGeschrieben.each do |anfrage| %>
    <ul>
      <li><%= link_to anfrage.titel, anfrage %></li>
    </ul>
<% end %>
</p>
<% if @antwortbekommen.size %>
    <h4>Es liegen neue Antworten vor</h4>
    <% @antwortbekommen.each do |antwort| %>
        <ul>
          <li><%= link_to antwort.titl, antwort %></li>
        </ul>
    <% end %>
<p>

</p>
<% end %>
