

<div class="page-header">
  <h1><%= @event.name %></h1>
</div>
<% if @event.picture != "" %>
<p>
  <img src="<%= @event.picture %>" class="img-responsive">
</p>
<% end %>


<h3>
  Wo?
</h3>
<h4> <%= @event.location %></h4>


<h3>Wann?</h3>
<h4>
  Am <%= @event.date.strftime("%d.%m.%Y") %> um <%= @event.time.strftime("%H:%M") %> Uhr
</h4>

<h3>Was ist geplant?</h3>
  <h4><%= @event.description %></h4>
<br>
</div>
<% if current_user.present? %>
  <div class="col-md-2 col-md-offset-1">
  <% if current_user.typ == 0 %>
    <h3>Bewerben</h3>
    <p>
      <%= link_to 'Für Event bewerben', "../anfrages/new/#{@event.id}"  %>
    </p>
  <% else %>
    <% if @event.user_id == current_user.id %>
    <p>
      <%= link_to 'Event bearbeiten', edit_event_path %>
    </p>
      <p>
        <%= link_to 'Event Löschen', @event, method: :delete, data: { confirm: 'Wirklich löschen?' } %>
      </p>
      <% end %>
  <% end %>
  </div>
<% end %>
