

<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<p>
  <img src="<%= @event.picture %>" class="img-responsive">
</p>


<h3>
  Wo?
</h3>
<h4> <%= @event.location %></h4>


<h3>Wann?</h3>
<h4>
  Am <%= @event.date.strftime("%d.%m.%Y") %> um <%= @event.time.strftime("%H:%M") %> Uhr
</h4>

<h3>Was ist geplant?</h3>
  <h4><%= @event.description %></h4>

