<div class="page-header">
  <h1>
    Antwort für

    <small>
      <%= @event[0].name %>
    </small>

    <small>
      <small>
        von <%= @sender[0].username %>
      </small>
    </small>
  </h1>
</div>




<p class="lead">
  <%= @anfrage.titel %>
</p>

<p>
  <%= @answer.text %>
</p>
<hr>
<h3>Ursprüngliche Nachricht</h3>
<p>
  <%= @anfrage.text %>
</p>


<% if @answer.sender_id != current_user.id %>
    <a href="../answers/new/<%= @anfrage.id %>">Antworten</a>
<% end %>
<%= link_to 'Zurück', :back %>