<%= form_for(@music) do |f| %>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Musiktitel</label><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>Link zum Youtube Video</label><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <label>Beschreibung</label><br>
    <%= f.text_area :description %>
  </div>
    <div>
      <input name="music[user_id]" type="hidden" value="<%= current_user.id %>" id="music_user_id">
    </div>

  <div class="actions">
    <input type="submit" value="Speichern" name="commit">
  </div>
<% end %>
