<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
  <%= @music.name %>
  </h1>
</div>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @music.url[-11,11] %>" frameborder="0" allowfullscreen></iframe>
</p>

<h3>  Beschreibung:</h3>
<h4><%= @music.description %></h4>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
