
<div class="page-header">
  <h1>
  <%= @music.name %>
  </h1>
</div>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @music.url[-11,11] %>" frameborder="0" allowfullscreen></iframe>
</p>

<h3>  Beschreibung:</h3>
<h4><%= @music.description %></h4>

</div>
<% if current_user.present? %>
    <div class="col-md-2 col-md-offset-1">
      <% if current_user.typ == 0 %>
          <% if @music.user_id == current_user.id %>
          <p>
            <%= link_to 'Musik bearbeiten', edit_music_path %>
          </p>
          <p>
            <%= link_to 'Musik löschen',  method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
          <% end %>
      <% else %>
        <p>Anfrage an Band schicken</p>
      <% end %>
    </div>
<% end %>

